@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');


.hero-section {
    background-color: #fff;
    margin: 0 auto;
}


.hero-section .container {
  height: 100vh;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items:  center;
}

.hero-section .border{
width: 200px;
  height: 8px;
 background-color:#212A3E;
 margin-left: 20%;
 margin-bottom: 8%;
  border-radius: 12px;
}

.hero-section .intro-section{
    text-align: left;
    margin-left: 20%;
}


.hero-section h1{
    color:#FFF8EB;
     margin-bottom: 20%;
     letter-spacing: 6px;
     height:100px;
}

.hero-section  span{
     color:#FFF8EB;
       position: relative;
  top: 6px;
  display: inline-block;
 letter-spacing: 14px;
  animation: bounce .4s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-weight: 600;
  font-size: 74px;
  color: #212A3E;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }
h1 span:nth-child(6) { animation-delay: .5s; }
h1 span:nth-child(7) { animation-delay: .6s; }
h1 span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: -30px;
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}


.intro-section h2 {
      font-family: 'Nunito', sans-serif;
      font-style: italic;
    color: #212A3E;
    margin-bottom: 12%;
  line-height: 1.5;
  display: inline;
    letter-spacing: 2px;
  background-image: linear-gradient(
        transparent 50%,
        rgb(241, 241, 241) 50%,
        #b1dae7, 100%,
        transparent 85%,
        transparent 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

.intro-section .view-btn{
    margin-top: 8%;
}


.view-btn {
 position: relative;
 margin: auto;
 padding: 12px 22px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}

.view-btn:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: #b1dae7;
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}

.view-btn a {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 1px;
 color: #234567;
 border: none;
 background:none;
 text-decoration: none;
}

.view-btn a:hover{
   color: #234567;
}

.view-btn svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: #234567;
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.view-btn:hover:before {
 width: 29%;
 background: #b1dae7;
}

.view-btn:hover svg {
 transform: translateX(0);
}

.view-btn:active {
 transform: scale(0.95);
}