@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');


.project-cards {
font-family: Comic Neue;
margin: 0 auto;
}


.project-cards .container .row{
margin-bottom: 6%;
}

.project-cards .border{
  margin: 2% 5%;
  height: 350px;
}


.project-cards .container .row .col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:5% ;
   
}


.project-cards img{
    background-color: #FFF8EB;
    width: 425px;
    height: 325px;
    margin: 0 auto;
    border-radius: 14px;
    object-fit:contain;
    transition: all .2s ease-in-out;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}

 .project-cards img:hover{
     transform: scale(1.1);
}

.card-body{
width: 150px;
text-align: left;
margin:10px auto;
}

.card-body h5{
    color:#212A3E;
    font-weight: 600;
    font-size: 26px;
}

.card-body  p {
     color:#212A3E;
    font-weight: medium;
    line-height: 30px;
    font-size: 16px;
    margin: 4% 0;
}

.card-text {
 width: 450px;
}

.card-body a {
    text-decoration: none;   
    color: #FFF8EB;
    padding: 10px 18px;
    background-color:#212A3E;
    font-size: 20px;
    font-weight: 550;
    margin: 8px 24px;
    border-radius: 10px;
        transition: all .2s ease-in-out;
}

.card-body a:hover {
      transform: scale(1.1);
     color:rgb(33,42,62);
      background-color: #FFF8EB;
      border: 1px solid #212A3E;
      padding: 10px 18px;
      margin: 8px 24px;
         font-size: 20px;
}
