@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.btn{
  position: absolute;
  top: 30px;
  right:50px;
  z-index: 2;
  display: flex;
  width: 20px;
  height: 20px;
}

.btn span{
  width: 30px;
  height: 2px; 
  background: #000;
  display: flex;
  position: absolute;
  transition: .3s;
}

.btn span:nth-child(1){
  top:20%;
}
.btn span:nth-child(2){
  top:80%;
}

.btn.is-active span{
  background:#fff;
}

.btn.is-active span:nth-child(1){
  top: 50%;
  transform:rotate(-45deg) ;
}

.btn.is-active span:nth-child(2){
  top: 50%;
  transform:rotate(45deg) ;
}

.menu {
  background: #171717;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  padding: 100px;
  z-index: 1;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.menu.is-active{
  opacity: 1;
  visibility: visible;
}

.menu_list{
  display: flex;
  flex-direction: column;
  list-style-type: none;
   font-family: 'Nunito', sans-serif;
}

.menu-link:not(:last-child) {
  margin-bottom: 30px;
}

.menu-link{
  position: relative;
  display: inline-flex;
  font-weight: bold;
  font-size: 44px;
  color: #FFF8EB;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link:hover{
  color: #FFF8EB;
}

.menu-link:after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 0;
  height: 5px;
  display: inline-flex;
  background:#FFF8EB;
  transition: .3s;
}

.menu-link:hover:after {
  width: 100%;
}